@import 'styles.scss';

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-block-light);
    .header {
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        min-height: 66px;
        align-items: center;
    
        form {
            width: 100%;
            max-width: 500px;
            min-height: 50px;
            border: 2px solid $orange;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            padding-right: 20px;
            background: none;
        }
    
        input::placeholder {
            font-size: 18px;
        }
    
        input:focus {
            border: none !important;
        }
    
        input:active {
            border: none;
        }
    }

    button {
        height: 60px;
        width: 60px;
        cursor: pointer;
        border: none;
        background: none;
    }
}


#findFilm {
    width: 100%;
    max-width: 400px;
    padding-left: 10px;
    border: none;
    height: 100%;
    min-height: 40px;
    font-size: 18px;
    background: none !important;
    color: var(--text-light);
}

#submitFilm {
    // display: none;
    cursor: pointer;
    height: 40px;
    border: none;
    font-size: 18px;
    color: $orange;
    background: none;
}
