@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$orange: #FA9043;

:root {
    --background-light: #FFFFFF;
    --background-block-light: #FFFFFF;

    --background-dark: #18191D;
    --background-block-dark: #282E33;

    --text-dark: #FFFFFF;
    --text-light: #000000;
}

* {
    margin: 0;
    
    h2 {
        font-family: "Rubik", sans-serif !important;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
    }

    h3 {
        font-family: "Rubik", sans-serif !important;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        opacity: 0.58;
    }
}