@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background-light: #FFFFFF;
  --background-block-light: #FFFFFF;
  --background-dark: #18191D;
  --background-block-dark: #282E33;
  --text-dark: #FFFFFF;
  --text-light: #000000;
}

* {
  margin: 0;
}
* h2 {
  font-family: "Rubik", sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
* h3 {
  font-family: "Rubik", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.58;
}

.data-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 66px - 51.6px);
}
.data-container__buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-width: 275px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.data-container__buttons button {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: none;
  border: 2px solid #FA9043;
  cursor: pointer;
  font-size: 16px;
  color: #FA9043;
}
.data-container__buttons .active {
  background-color: #FA9043;
  color: white;
}
.data-container__all-films {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  width: 100%;
  max-width: 1300px;
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  height: 100%;
  margin-top: 20px;
}
.data-container__all-films .card {
  min-height: 320px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.data-container__all-films .card__text h2 {
  margin-bottom: 6px;
}
.data-container__all-films .preloader {
  grid-column: 3/4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@-webkit-keyframes preloader {
  12% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  24% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  36% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  48% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  60% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  78% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  90% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes preloader {
  12% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  24% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  36% {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  48% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  60% {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  78% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  90% {
    -webkit-transform: rotate(-315deg);
            transform: rotate(-315deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
#preloader {
  -webkit-animation: preloader 4s infinite;
          animation: preloader 4s infinite;
}