/* @import url('components/css/styles.scss'); */

:root {
  --background-light: #FFFFFF;
  --background-block-light: #FFFFFF;
  --background-dark: #18191D;
  --background-block-dark: #282E33;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--background-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  min-height: calc(100vh - 66px - 51.6px);
}

body::-webkit-scrollbar {
  width: 8px;      
  cursor: pointer;
}


body::-webkit-scrollbar-thumb {
  background-color: #FA9043;    /* цвет бегунка */
  border-radius: 20px;
  cursor: pointer;
}